.voltar {
  display: none;
}

.tipos nav ul li a #ativo {
  background: #1374F1;
  opacity: 60%;
}

.tipos nav ul li a #ativo ~ p {
  color: #1374F1;
  opacity: 60%;
}

.resultado {
  position: relative;
  width: 100%;
  margin: 10px 0 50px;
}

iframe {
  width: 100%;
  height: 643px;
}

.clinicas {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  height: 624px;
  overflow: auto;
  border-radius: 10px;
  background: rgb(200 224 245);
}

.filtros {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.filtros p {
  font-weight: bold;
  margin-right: 10px;
}

.resultado-clinicas .titulo {
  display: flex;
  justify-content: center;
}


.resultado-clinicas .titulo h1 {
  font-size: 36px;
  margin: 10px;
}

.lista-de-clinicas ul li {
  border-radius: 15px;
  margin-bottom: 20px;
}

.lista-de-clinicas ul li a{
  display: flex;
  align-items: center;
  padding: 10px;
}

.lista-de-clinicas ul li a .imagem-clinica img {
  margin-right: 10px;
}

.lista-de-clinicas ul li a .dados-clinica p {
  margin: 0;
}


.clinicas::-webkit-scrollbar-track {
  width: 0;
}

.clinicas::-webkit-scrollbar {
  width: 0;
}

.clinicas::-webkit-scrollbar-thumb {
  width: 0;
}

@media screen and (min-width: 720px) {
  section.banner {
    display: flex;
    align-items: center;
    height: 100px;
    background-position-y: center;
  }

  .banner .banner-text h1 {
    margin-bottom: auto;
  }
}


@media screen and (max-width: 720px) {

  .voltar {
    display: block;
  }

  .voltar i {
    font-size: 25px;
  }

  iframe {
    visibility: hidden;
  }

  .clinicas {
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 100vh;

}

}